/* body {
    background-color: rgb(17, 17, 16);
    margin: 0;
} */

/* . is the class and # is the id */


#home {
        background: linear-gradient( rgb(102, 106, 172), black);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }

    #home .title{
    font-size: 56px;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
    color: #c8fd3d;
    border: rgb(214, 174, 121);
    }
/* -------------------------flowers code-------------------------- */
    @keyframes spin{
        100%{
            transform: rotate(360deg);
        }
    }
    .flowers1{
        position: relative;
        left:760px;
    }
    .p31{
        animation: spin 5s infinite linear;
        transform-origin: bottom;
    }
    .p31,.p32,.p33,.p34{
        height:50px;
        width: 50px;
        background-color:#99ff33;
        border: 2px solid rgb(255, 255, 255);
        border-radius:0px 50px 0px 50px;
        position: relative;
    }
    .p32{
        transform: rotate(90deg);
        left:40px;
    }
    .p33{
        transform: rotate(180deg);
        left:40px;
        bottom: 5px;
    }
    .p34{
        transform: rotate(270deg);
        left:0px;
        bottom: 55px;
    }
    .p35,.p36,.p37,.p38{
        background-color: #ff33ff;
        height:40px;
        width: 40px;
        border-radius: 50%;
        position: relative; 
    }
    .p35{
        left:25px;
        bottom: 145px;
    }
    .p36{
        left:25px;
        bottom: 135px;
    }
    .p37{
        bottom: 200px;

    }
    .p38{
        bottom: 240px;
        left:50px;
    }


   
    @keyframes spin{
        100%{
            transform: rotate(360deg);
        }
    }
    .flowers2{
        position: relative;
        bottom: 40px;
        left:1100px;
    }
    .p31{
        animation: spin 5s infinite linear;
        transform-origin: bottom;
    }
    .p31,.p32,.p33,.p34{
        height:50px;
        width: 50px;
        background-color:#99ff33;
        border-radius:0px 50px 0px 50px;
        position: relative;
    }
    .p32{
        transform: rotate(90deg);
        left:40px;
    }
    .p33{
        transform: rotate(180deg);
        left:40px;
        bottom: 5px;
    }
    .p34{
        transform: rotate(270deg);
        left:0px;
        bottom: 55px;
    }
    .p35,.p36,.p37,.p38{
        background-color: #ff33ff;
        height:40px;
        width: 40px;
        border-radius: 50%;
        position: relative; 
    }
    .p35{
        left:25px;
        bottom: 145px;
    }
    .p36{
        left:25px;
        bottom: 135px;
    }
    .p37{
        bottom: 200px;

    }
    .p38{
        bottom: 240px;
        left:50px;
    }

/* --------------------------------------------------------- */

 #home .footer {
        bottom: 20px;
        color: #cfff04;;
        font-size: 16px;
        font-style: italic;
        position: absolute;
        right: 18px;
        right: 45%;
    } 

/* ---------------------------------------------------------- */
    .hidden{
        display: none;
    }

 .button {
        background: #afa;
        background: linear-gradient(rgb(176, 255, 49), rgb(240, 255, 102));
        background: -webkit-linear-gradient(top, rgb(176, 255, 49), rgb(240, 255, 102));
        background: -ms-linear-gradient(top, rgb(176, 255, 49), rgb(240, 255, 102));
        background: -moz-linear-gradient(top, rgb(176, 255, 49), rgb(240, 255, 102));
        background: -o-linear-gradient(top, rgb(176, 255, 49), rgb(240, 255, 102));
        border-radius: 3px;
        box-shadow: 0 0 0 5px rgb(202, 186, 42);
        display: table;
        font-weight: bold;
        padding: 10px 20px;
        margin: 5% auto;
        font-family: 'Times New Roman', Times, serif;      
    } 
    .anim {
        animation: button 3s infinite;
    }
    
    @keyframes button {
        0%, 50%, 90% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }
        60% {
            transform: rotate(5deg) scale(1);
            -webkit-transform: rotate(5deg) scale(1.5);
        }
        70% {
            transform: rotate(-5deg) scale(1);
            -webkit-transform: rotate(-5deg) scale(1);
        }
        80% {
            transform: rotate(5deg) scale(1.05);
            -webkit-transform: rotate(5deg) scale(1.05);
        }
    }

    *{
        box-sizing: border-box;
    }
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient( rgb(102, 106, 172), black);
    }
    
    .container{
        margin: 20px auto;
        width: 1000px;
    }
    .row{
        display: grid;
        grid-row: 1;
    }
    hr{
        border: 1px solid#eee;
    }
    p{
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .game-info{
        display: flex;
    }
    .game-info .game-name{
        flex: 1;
        color: rgb(238, 255, 142);
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
    }
    .game-info .category{
        flex: 1;
        /* text-align: center; */
        color: rgb(238, 255, 142);
        font-size: 25px;
    }
    .game-info .category span{
        text-transform: capitalize;
        color: rgb(243, 255, 138);
        font-weight: bold;
        font-size: x-large;
    }
    .hangman-draw{
        flex: 1;
        background-color: #ff99fa;
        width: 550px;
        padding: 20px;
        height: 380px;
        margin-left: 220px;
        border-radius: 20px;
        margin-top: 25px;
    }
    .hangman-draw .the-draw{
        width: 60px;
        height: 280px;
        border-bottom: 50px solid #222;
        position: relative;
        margin: auto;
        left: -75px;
        display: none;
        top: 20px;
    }
    .hangman-draw .the-stand{
        content: '';
        position: absolute;
        width: 15px;
        background-color: #222;
        height: 100%;
        left: 40%;
        margin-left: -2px;
        display: none;
    }


    .hangman-draw .the-hang{
        display: none;
    }
    /* harzanoral line with ::before */
    .hangman-draw .the-hang:before{
        content: '';
        position: absolute;
        height: 13px;
        background-color: #222;
        width: 100px;
        left: 30px;
        top: 15px;
    }
    
    /* vertical line with ::after */
    .hangman-draw .the-hang:after{
        content: '';
        position: absolute;
        width: 8px;
        height: 30px;
        background-color: #222;
        left: 130px;
        top: 15px;
    }

    /* created the head with radius of 50% */
    .hangman-draw .the-rope{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        left: 100px;
        top: 45px;
        border: 4px dashed #222;
        display: none;
    }

    .hangman-draw .the-man .head{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid #222;
        position: absolute;
        left: 110px;
        top: 55px;
        display: none;
    }

    .hangman-draw .the-man .body{
        position: absolute;
        background-color: #222;
        width: 4px;
        height: 110px;
        top: 102px;
        left: 134px;
        display: none;
    }
    .hangman-draw .the-man .hands{
        display: none;
    }
    .hangman-draw .the-man .hands::before{
        left: 89px;
        transform: rotate(-30deg);
    }

    /* left added 45+85 */
    .hangman-draw .the-man .hands::after{
        left: 133px;
        transform: rotate(30deg);
    }

    .hangman-draw .the-man .hands::before,
    .hangman-draw .the-man .hands::after{
        content: '';
        position: absolute;
        background-color: #222;
        width: 50px;
        height: 4px;
        top: 140px;
    }
    .hangman-draw .the-man .legs{
        display: none;
    }
    .hangman-draw .the-man .legs::before{
        left: 89px;
        transform: rotate(-30deg);
    }


    .hangman-draw .the-man .legs::after{
        left: 133px;
        transform: rotate(30deg);
    }

    .hangman-draw .the-man .legs::before,
    .hangman-draw .the-man .legs::after{
        content: '';
        position: absolute;
        background-color: #222;
        width: 50px;
        height: 4px;
        top: 220px;
    }

    .hangman-draw.wrong-1 .the-draw {
        display: block;
      }
      .hangman-draw.wrong-2 .the-stand {
        display: block;
      }
      .hangman-draw.wrong-3 .the-hang {
        display: block;
      }
      .hangman-draw.wrong-4 .the-rope {
        display: block;
      }
      .hangman-draw.wrong-5 .head {
        display: block;
      }
      .hangman-draw.wrong-6 .body {
        display: block;
      }
      .hangman-draw.wrong-7 .hands {
        display: block;
      }
      .hangman-draw.wrong-8 .legs {
        display: block;
      }
    .letters{
        flex: 1;
        padding: 15px;
        text-align: center;
        width: 600px;
        margin-left: 198px;
        margin-top: 50px;
    }


    .letters.finished {
        pointer-events: none;
      }

    .letters .letter-box{
        width: 50px;
        height: 50px;
        display: inline-block;
        background-color: rgb(236, 186, 236);
        border-radius: 10px;
        color: #222;
        font-size: 20px;
        margin-right: 10px;
        line-height: 45px;
        text-transform: uppercase;
        font-weight: bold;
        font-style: italic;
        cursor: pointer;
        margin-bottom: 12px;
        box-shadow: 4px 7px 5px #888888;
    }


    /* fade the color after clicking the button */
    .letters .letter-box.clicked{
        background-color: rgb(239, 248, 250);
        opacity: .2;
        pointer-events: none;
    }

    .letter-guess{
        margin: 10px auto;
        background-color: cornsilk;
        padding: 20px;
        display: flex;
        justify-content: center;
        min-height: 104px;
        border-radius: 10px;
    }

    .letter-guess span{
        width: 60px;
        height: 60px;
        font-size: 24px;
        margin-right: 10px;
        text-align: center;
        line-height: 60px;
        text-transform: uppercase;
        font-weight:  bold;
        background-color: #cf82cb;
        border-bottom: 3px solid #222;
        transition: .3s;
        border-radius: 10px;
    }

    .letters-guess span.with-space {
        background: none;
        border-bottom: none;
        position: relative;
      }
      /* .letters-guess span.with-space:before {
        content: '';
        width: 20px;
        height: 4px;
        background-color: #222;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      } */

      .popup {
        position: fixed;
        background-color: #d8001d;
        padding: 100px 20px;
        width: 80%;
        top: 30%;
        left: 10%;
        text-align: center;
        font-size: 40px;
        border-radius: 5px;
        color: #FFF;
        font-style: italic;
       
      }
      #restart{
          background-color: pink;
          font-size: 20px;
          border-radius: 10px;
          margin-left: 45%;
          font-family: monospace;
      }