/* body {
    background-color: rgb(17, 17, 16);
    margin: 0;
}

#homePage {
        background: linear-gradient( rgb(250, 250, 182), black);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }

    #homePage .title{
    font-size: 56px;
    font-weight: bold;
    margin-top: 20%;
    text-align: center;
    }

    /* #homePage .button {
        background: #afa;
        background: linear-gradient(rgb(176, 255, 49), rgb(240, 255, 102));
        background: -webkit-linear-gradient(top, rgb(176, 255, 49), rgb(240, 255, 102));
        background: -ms-linear-gradient(top, rgb(176, 255, 49), rgb(240, 255, 102));
        background: -moz-linear-gradient(top, rgb(176, 255, 49), rgb(240, 255, 102));
        background: -o-linear-gradient(top, rgb(176, 255, 49), rgb(240, 255, 102));
        border-radius: 3px;
        box-shadow: 0 0 0 5px rgb(240, 220, 38);
        display: table;
        font-weight: bold;
        padding: 10px 20px;
        margin: 5% auto;
    } */

    /* #homePage .footer {
        bottom: 20px;
        color: white;
        font-size: 18px;
        font-style: italic;
        position: absolute;
        right: 18px;
        right: 45%;
    } */ 
    *{
        box-sizing: border-box;
    }
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .container{
        margin: 20px auto;
        width: 1000px;
    }
    .row{
        display: flex;
    }
    hr{
        border: 1px solid#eee;
    }
    .game-info{
        display: flex;
    }
    .game-info .game-name{
        flex: 1;
    }
    .game-info .category{
        flex: 1;
        text-align: right;
    }
    .game-info .category span{
        text-transform: capitalize;
        color: palevioletred;
        font-weight: bold;
    }
    .hangman-draw{
        flex: 1;
        background-color: #f8f8f8;
        padding: 20px;
        height: 324px;
    }
    .hangman-draw .the-draw{
        width: 60px;
        height: 280px;
        border-bottom: 4px solid #222;
        position: relative;
        margin: auto;
    }
    .hangman-draw .the-stand:before{
        content: '';
        position: absolute;
        width: 4px;
        background-color: #222;
        height: 100%;
        left: 50%;
        margin-left: -2px;
    }

    /* harzanoral line with ::before */
    .hangman-draw .the-hang:before{
        content: '';
        position: absolute;
        height: 4px;
        background-color: #222;
        width: 100px;
        left: 30px;
        top: 15px;
    }
    
    /* vertical line with ::after */
    .hangman-draw .the-hang:after{
        content: '';
        position: absolute;
        width: 4px;
        height: 30px;
        background-color: #222;
        left: 130px;
        top: 15px;
    }

    /* created the head with radius of 50% */
    .hangman-draw .the-rope{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        left: 97px;
        top: 45px;
        border: 4px dashed #222;
    }

    .hangman-draw .the-man .head{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 4px solid #222;
        position: absolute;
        left: 107px;
        top: 55px;
    }

    .hangman-draw .the-man .body{
        position: absolute;
        background-color: #222;
        width: 4px;
        height: 110px;
        top: 102px;
        left: 130px;

    }

    .hangman-draw .the-man .hands::before{
        left: 85px;
        transform: rotate(30deg);
    }

    /* left added 45+85 */
    .hangman-draw .the-man .hands::after{
        left: 130px;
        transform: rotate(-30deg);
    }

    .hangman-draw .the-man .hands::before,
    .hangman-draw .the-man .hands::after{
        content: '';
        position: absolute;
        background-color: #222;
        width: 50px;
        height: 4px;
        top: 140px;
    }

    .hangman-draw .the-man .legs::before{
        left: 85px;
        transform: rotate(-30deg);
    }


    .hangman-draw .the-man .legs::after{
        left: 130px;
        transform: rotate(30deg);
    }

    .hangman-draw .the-man .legs::before,
    .hangman-draw .the-man .legs::after{
        content: '';
        position: absolute;
        background-color: #222;
        width: 50px;
        height: 4px;
        top: 220px;
    }